*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: black;
    height: 80px;
    width: 100vw;
    display: flex;
    background-attachment: fixed;
    position: fixed;
    z-index: 1;
}
.explore{
    color: white;
    padding: 25px;
}
.search{
    padding: 30px;
}
.logo img{
    /* background-size: 10%; */
    /* min-height: 50px; */
    /* min-width: 40px; */
    height: auto;
    padding-left: 200px;
    padding-top: 10px;
}
.event{
    color: white;
    padding-top: 25px;
    padding-left: 100px;
}
.multi{
    color: white;
    padding-top: 25px;
    padding-left: 50px;
}
.nasa{
    color: white;
    padding-top: 25px;
    padding-left: 50px;
    display: flex;
}
.nasa h4{
    border: 1px solid red;
    width: 35px;
    height: 17px;
    margin-top: 3px;
    margin-left: 10px;
    font-family: monospace;
    font-weight: lighter;
}
.new{
    display: flex;
}
.newimg{
    position: relative;
    height: auto;
}

.black{
    position: absolute;
    color: white;
    padding-top: 310px;
    padding-left: 30px;
    font-size: 40px;
    font-weight: bolder;
    /* font-style: italic; */
    font-family: sans-serif;
}
.bg{
    position: absolute;
    color: white;
    padding-top: 410px;
    padding-left: 30px;
}
.button{
    position: absolute;
    /* background-color: red; */
    padding-top: 450px;
    padding-left: 30px;
    /* height: 40px; */
}
.button1{
    background-color: red;
    color: white;
    border: 5px solid red;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.new1{
    padding-top: 70px;
    padding-left: 30px;
    font-size: 25px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.new1 h4{
    padding-top: 5px;
    padding-right: 60px;
}
.required{
    color: red;
}
.img{
    display: flex;
    position: relative;
}
.img1{
    margin-left: 30px;
    border: 2px solid black;
}
.img2{
    margin-left: 15px;
    border: 2px solid black;
}
.img3{
    margin-left: 15px;
    border: 2px solid black;
    position: absolute;
    margin-left: 968px;
}
.img4{
    margin-top: 210px;
    margin-left: 968px;
    position: absolute;
    border: 2px solid black;
}
.content1{
    color: white;
    position: absolute;
    padding-left: 50px;
    padding-top: 350px;
    font-size: 23px;
    font-weight: bolder;
}
.content2{
    color: white;
    position: absolute;
    padding-left: 665px;
    padding-top: 333px;
    font-size: 20px;
    font-weight: bold;
}
.content3{
    color: white;
    position: absolute;
    padding-left: 980px;
    padding-top: 105px;
    font-size: 20px;
    font-weight: bold;
}
.content4{
    color: black;
    position: absolute;
    padding-left: 980px;
    padding-top: 315px;
    font-size: 20px;
    font-weight: bold;
}
.conimg{
    position: relative;
    display: flex;
}

.new2img{
    padding-top: 80px;
    opacity: 0.5;
}
.content5{
    position: absolute;
    padding-top: 290px;
    font-size: 35px;
    color: black;
    padding-left: 40px;
}
.content6{
    color: black;
    position: absolute;
    padding-top: 475px;
    padding-left: 40px;
}
.content7{
    color: black;
    position: absolute;
    padding-top: 570px;
    padding-left: 40px;
    font-style: italic;
    text-decoration: underline;
}


.imagination{
    position: relative;
    display: flex;
}
.img9{
    padding-top: 80px;
}
.content12{
    position: absolute;
    padding-top: 300px;
    padding-left: 70px;
    color: white;
    font-size: 35px;
}
.content13{
    position: absolute;
    padding-top: 550px;
    padding-left: 70px;
    color: white;
}
.content14{
    position: absolute;
    padding-top: 680px;
    padding-left: 70px;
    color: white;
    text-decoration: underline;
}
.textimg{
    display: flex;
}
.contents{
    padding-top: 70px;
    padding-left: 70px;
    
}
.content16{
    font-size: 20px;
}
.content17{
    padding-top: 50px;
}
.content18{
    padding-top: 10px;
    font-family: monospace;
    font-weight: lighter;
}
.conimg2{
    padding-left: 100px;
    padding-top: 70px;
}
.content19{
    padding-left: 625px;
}
.type{
    padding-top: 70px;
    padding-left: 70px;
}
.textpic{
    position: relative;
    display: flex;
}
.pic{
    padding-top: 50px;
}
.content20{
    position: absolute;
    color: white;
    padding-top: 200px;
    padding-left: 70px;
    font-size: 28px;
    font-family: sans-serif;
}
.content21{
    position: absolute;
    color: white;
    padding-top: 420px;
    padding-left: 70px;
}
.content22{
    position: absolute;
    color: white;
    padding-top: 530px;
    padding-left: 70px;
    font-family: system-ui;
}
.letext{
    padding-top: 70px;
    padding-left: 70px;
    font-size: 20px;
}
.slast{
    position: relative;
    display: flex;
}
.img11{
    padding-top: 50px;
    padding-left: 70px;
    /* opacity: 0.9; */
}
.content23{
    color: white;
    position: absolute;
    padding-top: 380px;
    padding-left: 100px;
}
.img12{
    padding-top: 50px;
    padding-left: 20px;
    /* opacity: 0.9; */
}
.content24{
    color: white;
    position: absolute;
    padding-top: 340px;
    padding-left: 400px;
}
.img13{
    padding-top: 50px;
    padding-left: 20px;
}
.content25{
    color: white;
    position: absolute;
    padding-top: 380px;
    padding-left: 680px;
}
.img14{
    padding-top: 50px;
    padding-left: 20px;
}
.content26{
    color: white;
    position: absolute;
    padding-top: 380px;
    padding-left: 1000px;
}
.last{
    position: relative;
    display: flex;
}
.img15{
    padding-top: 30px;
    padding-left: 70px;
}
.content27{
    color: white;
    position: absolute;
    padding-top: 360px;
    padding-left: 110px;
}
.img16{
    padding-top: 30px;
    padding-left: 20px;
}
.content28{
    color: white;
    position: absolute;
    padding-top: 360px;
    padding-left: 400px;
}
.img17{
    padding-top: 30px;
    padding-left: 20px;
}
.content29{
    color: white;
    position: absolute;
    padding-top: 360px;
    padding-left: 700px;
}
.img18{
    padding-top: 30px;
    padding-left: 20px;
}
.content30{
    color: white;
    position: absolute;
    padding-top: 360px;
    padding-left: 1010px;
}
.end{
    text-align: center;
}
